@font-face {
    font-family: 'vazir';
    src: url('../font/Vazir.ttf');
}

*{
    font-family: 'vazir' !important;
}


::-webkit-scrollbar {
    width: 5px;
    border-radius: 50px !important;
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 50px !important;
}


::-webkit-scrollbar-thumb {
    background: #0448f5; 
    border-radius: 50px !important;
}


::-webkit-scrollbar-thumb:hover {
    background: #002a94; 
    border-radius: 50px !important;
}


img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


aside .close-menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 109;
    background: rgba(0, 0, 0, 0.192);
    backdrop-filter: saturate(130%) blur(3px);
}


aside .show-menu{
    min-width: 17rem;
    max-width: 17rem;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: top;
    overflow: auto;
    z-index: 110;
    transition: 0.5s;
}


aside .show{
    right: 0 !important;
}


aside .show-notif{
    min-width: 17rem;
    max-width: 17rem;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -17rem;
    display: flex;
    flex-direction: column;
    align-items: top;
    overflow: auto;
    z-index: 111;
    transition: 0.5s;
}


aside .showNotif{
    left: 0 !important;
}


aside .close-notif{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 110;
    background: rgba(0, 0, 0, 0.192);
    backdrop-filter: saturate(130%) blur(3px);
}


input[type='text']:focus{
    border: none;
    outline: none;
}



.hide-mobile{
    display: flex !important;
}


.hide-pc{
    display: none !important;
}


.hidden{
    display: none;
}


.main-box{
    box-shadow: 0px 0px 0px 202px #0000006b inset;
    background-image: url('../images/notebook.jpg');
    border-radius: 16px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}


.item-course-main-box{
    margin: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    background: #171e326e;
    box-shadow: 0 0 15px rgb(23 30 50);
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #a1a4b5;
    color: white;
    width: 140px;
    transition: 0.5s;
}



.item-course-main-box:hover{
    border-color: #0448f5;
}


.item-job-category{
    background-image: url('../images/water-back.jpg');
    border-radius: 16px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    padding: 1rem;
}


.item-job-category .title{
    background-color: #ffffffbd;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #444444;
    font-weight: 900;
    font-size: 20px;
}


.channels-tv {
    width: 100%;
    height: 100%;
}


.channels-tv .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 16px;
}


.channels-tv .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider-button-next,.slider-button-prev{
    width: 2.5rem !important;
    height: 2.5rem !important;
    cursor: pointer;
    background-color: #c0c0c0 !important;
    border-radius: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-button-next::after{
    margin-left: -0.2rem;
}


.slider-button-prev::after{
    margin-right: -0.2rem;
}


.slider-button-next::after,.slider-button-prev::after{
    font-size: 20px !important;
    font-weight: 900 !important;
    color: white !important;
}


.slider-button-next::after{
    margin-left: -0.2rem;
}


.slider-button-prev::after{
    margin-right: -0.2rem;
}


.item-persian-period{
    background-color: white;
}


.persion-slug-slider{
    color: white;
    font-size: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}


.header-course-slider{
    text-align: right;
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-height: 50px;
    min-height: 30px;
    font-weight: 600;
    color: #444 !important;
}


.university-item{
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15)
}


.most-view .title {
    text-align: right;
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-height: 60px;
    min-height: 42px;
    font-weight: 600;
    color: #444 !important;
}


aside .acrive{
    background-color: #0448f5;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    color: white;
}


aside .acrive path{
    stroke: white;
}


@media screen and (min-width:1024px){
    .mini-menu{
        padding-right: 4.5rem !important;
    }

    .mini-menu #logo{
        padding: 0.8rem;
    }

    .mini-menu #logo img:nth-last-child(1){
        display: flex;
        width: 100%;
    }

    .mini-menu #logo img:nth-last-child(2){
        display: none;
    }

    .mini-menu .show-menu{
        min-width: 4rem;
        max-width: 4rem;
    }

    .mini-menu header > section{
        padding-right: 4.5rem;
    }

    .mini-menu aside span{
        display: none;
    }

    .mini-menu aside svg{
        margin: 0rem;
    }

    .mini-menu aside a{
        padding: 0.3rem;
        height: 2.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mini-menu .hide-mini{
        display: none !important;
    }
}


@media screen and (max-width:1200px){
    .best-books-box{
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }
}


@media screen and (max-width:1024px){
    .hide-mobile{
        display: none !important;
    }

    .hide-pc{
        display: flex !important;
    }

    aside .show-menu{
        right: -17rem;
    }

    .item-course-main-box{
        margin: 10px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        background: #171e326e;
        box-shadow: 0 0 15px rgb(23 30 50);
        padding: 10px 10px;
        border-radius: 15px;
        width: auto;
        width: 65px;
    }

    .item-course-main-box svg{
        width: 24px;
        height: 24px;
    }

    .university-item{
        width: 18rem;
    }
}


@media screen and (max-width:850px){
    .item-persian-period{
        width: 15rem;
    }
}